---
import Header from '../components/Header.astro';
import HeaderTwo from '../components/HeaderTwo.astro';
import Main from '../components/Main.astro'
import MainTwo from '../components/MainTwo.astro'
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<Main></Main>
<Layout></Layout>




