---


import Header from '../components/Header.astro';
import Main from '../components/Main.astro'
import HeaderTwo from '../components/HeaderTwo.astro';
import MainTwo from '../components/MainTwo.astro'
import '../styles/global.css';
import { Image } from 'astro:assets';
import logoMatasQualitat from '../assets/logos/teixits-matas-qualitat.png';
import logoMatasHoritzontal from '../assets/logos/teixits-matas-horitzontal.png';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <!-- ... -->
</head>


<HeaderTwo></HeaderTwo>
<Main></Main>



