---
import { Image } from 'astro:assets';
import logoMatasQualitat from '../assets/logos/teixits-matas-qualitat.png';
---

<main>
  <div class="w-full h-[90vh] bg-[url('../assets/hero.jpg')] bg-cover bg-center bg-no-repeat flex justify-end flex-col items-start pl-20 pb-20 bg-black/20 ">
    <Image 
      src={ logoMatasQualitat }
      class="object-contain w-auto h-[170px] "
      alt="logo-matas"
      loading="eager"
    />
  </div>
</main>
<section class="w-full h-[40vh]">
  <div class="flex flex-row justify-center text-white gap-36 mt-24">
    <div class="border border-white rounded-3xl p-2 w-44 text-center hover:bg-white hover:text-black transition-colors cursor-pointer">Mantes</div>
    <div class="border border-white rounded-3xl p-2 w-44 text-center hover:bg-white hover:text-black transition-colors cursor-pointer">Llançols</div>
    <div class="border border-white rounded-3xl p-2 w-44 text-center hover:bg-white hover:text-black transition-colors cursor-pointer">Coixins</div>
    <div class="border border-white rounded-3xl p-2 w-44 text-center hover:bg-white hover:text-black transition-colors cursor-pointer">Edredons</div>
  </div>
</section>